h4 {
  padding-bottom: 20px;
}


li{
  cursor: pointer;
  background-color: #ededed;
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 20px;
  width: 35%;
  color:  #575756;
  font-weight: bold;
}

.arrow-right, .arrow-right-disabled{
  margin-top: 10%;
}


/*iPad*/
@media only screen and (max-width: 991px){
  li{
    width: 50%;
  }
  .modal-dialog-class{
    width: 50%;
  }
}

/* Phablets */
@media only screen and (max-width: 767px){

}

/* Phones */
@media only screen and (max-width: 480px){

}

/* iPhone 5 */
@media only screen and (max-width: 380px) {
  li {
    width: 80%;
  }
  .modal-dialog-class{
    width: 80%;
  }
}


/* Modal
 ---------------------- */

:root{
  --gray: #333;
  --gray-light: #aaa;
  --gray-lighter: #eee;
  --space: 10px;
  --blue: #428bca;
  --blue-dark: #405e9b;
  --green-success: #33be30;
  --red-fail: #ff483f;
}


.success{
  border: var(--green-success) solid 1px;
  background-color: #d1ffc1;
  color: var(--green-success);
}

.hr-success{
  border-bottom: 1px solid var(--green-success);
  /*override boostrap */
  margin-top: 0;
  margin-bottom: 0;
}
.hr-fail{
  border-bottom: 1px solid var(--red-fail);
  /*override boostrap */
  margin-top: 0;
  margin-bottom: 0;
}

.fail{
  border: var(--red-fail) solid 1px;
  background-color: #ffcfcc;
  color: var(--red-fail);
}

.button-fail{
  background: var(--red-fail);
}

.button-success{  background: var(--green-success);  }

.btn-class{
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 24px;
  padding: 8px 8px;
  margin: 8px auto;
  text-align: center;
  min-width: 98%;
  position: relative;
}

.dialog{
   content: "";
   position: fixed;
   z-index: 6;
   top: 0; left: 0; right: 0; bottom: 0;
}

/*Dialog
 ---------------------- */
.dialog-body{
   position: fixed;
   z-index: 7;

   top: 100px;
   left: 50%;
   transform: translateX(-50%);

   width: 35%;
   min-width: 200px;
   min-height: 50px;

   border-radius: 5px;
   box-shadow: 10px 10px 5px #888888;
}

.dialog-content{
  padding: 0 10% var(--space);
}
