.title{
  text-align: center;
}

.row-pair{
  background-color: #4ec1cf;
}

.disabled-category{
  pointer-events: none;
}
.disabled-category h4{
  color: #575756;
}
.disabled-category h4{
  color: #575756;
}
.disabled-category img{
  -webkit-filter: grayscale(100%); filter: grayscale(100%);
}


.level{
  transform: translateX(0%);
  text-align: center;

  padding-top: 2%;
}

.category{
  display: inline-table;
  padding-left: 2%;
  padding-right: 2%;
}

@media (max-width: 380px) {
  .category{
    width: 110px;
    height: auto;
  }
}
