

.title{
  text-align: center;
  color: #ffffff;
}

.level:nth-child(odd) {
  background-color: #4ec1cf;
}

.level:nth-child(even) {
  background-color: #52d9e8;
}

.disabled-category{
  pointer-events: none;
}
.disabled-category h4{
  color: #575756;
}
.disabled-category h4{
  color: #575756;
}
.disabled-category img{
  -webkit-filter: grayscale(100%); filter: grayscale(100%);
}


.level{
  display: flex;
  justify-content: space-evenly;
}

.category a img{
  margin: 20px auto 0;
}

.category a h4 {
  text-align: center;
  padding: 0;
}


@media (max-width: 400px) {
 .category{
   max-width:110px;
 }

  .category a img {
  width: 110px;
  height: auto;
}

  .title{
    font-size: 24px;
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .category a img{
    width: 100px;
    height: auto;
  }
}
