.background-red{
  background-color: #FF665f;
  height: 100%;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}


.amidi{
  max-width: 25vw;
  margin: 0 auto 5%;
  display: block;
}

.start-btn{
  background-color: #ededed;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  width: 10%;
  border-radius: 30px;
  cursor: pointer;
}

.start{
  text-decoration: none;
  color: #7256e8;
  font-weight: bolder;
}

.start-btn{
  width: 15%;
  min-width: 130px;
}


