.background-red{
  background-color: #FF665f;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}

.containerStart{
  position: fixed;
  top: -10%;
  height: 100%;
  width: 100%;
}

.amidi{
  margin: 0 auto;
  display: block;
  max-width: 100vw;
  min-width: 240px;
  width: auto;
  height: 90%;
  min-height: 320px;
  max-height: 700px;
}

.start-btn{
  background-color: #ededed;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  min-width: 200px;
  width: 30%;
  max-width: 280px;
  border-radius: 30px;
  cursor: pointer;
}

.start{
  text-decoration: none;
  font-weight: bolder;
}

