:root{
  --light-blue: #79ecf2;
  --red: #FF665f;
}

.audio-toggler{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
  float: right;
  margin-top: -40px;
  margin-right: 15px;
  cursor: pointer;
}

.container-top-bar{
  margin-bottom: 80px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.top-bar{
  position: fixed;
  background-color: var(--light-blue);
  height: 70px;
  width: 100%;
  top: 0;
  border-bottom: solid;
  z-index: 8;
}

.center-icon{  padding: 2px 2px;  }

.unmuted::before {
  content: url('../../../assets/icons/volume_up.svg');
}

.muted::before {
  content: url('../../../assets/icons/volume_off.svg');
}

.angle-left-arrow::before{
  content: '\2039';
  font-size: 4em;
}

.angle-left-arrow{
  color: #fff;
  margin-top: -5px;
}

.btn-menu::before{
  content: url('../../../assets/icons/menu.svg');
}

.btn-menu{
  margin-top: 20px;
  cursor: pointer;
}

.btn-head-left{
  cursor: pointer;
  float: left;
  margin-left: 15px;
}

.title-head{
  width: 140px;
  margin: 0 auto;
  padding-top: 10px;
}

/* Drawer*/
.drawer-panel{
  position: fixed; /* Stay in place */
  min-width: 200px;
  height: 100%; /* 100% Full-height */
  width: 40%; /* 0 width - change this with JavaScript */
  z-index: 9;
  top: 0;

  padding: 10px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  border-right: 1px inset;
}

.background-drawer{
  height: 100%;
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}

.delete-progress {
  background-color: var(--red);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  display: flex;
}

.delete-progress-font{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.trash:before{
  content: url('../../../assets/icons/delete_forever.svg');
}

/*
.trash{  margin-left: 40%;  }
*/
