:root{
  --light-blue: #79ecf2;
  --red: #FF665f;
}

.audio-toggler{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--red);
  float: right;
  margin-top: -40px;
  margin-right: 15px;
  cursor: pointer;
}

.top-bar{
  background-color: var(--light-blue);
  height: 70px;
  border-bottom: solid;
}


.center-icon{
  padding: 2px 2px;
}

.unmuted::before {
  content: url('../../../assets/icons/volume_up.svg');
}

.muted::before {
  content: url('../../../assets/icons/volume_off.svg');
}


.angle-left-arrow::before{
  content: '\2039';
  font-size: 4em;
}

.angle-left-arrow{
  color: #fff;
  margin-top: -5px;
}



.btn-menu::before{
  content: url('../../../assets/icons/menu.svg');
}

.btn-menu{
  margin-top: 20px;
}


.btn-head-left{
  cursor: pointer;
  float: left;
  margin-left: 15px;
}

.title-head{
  width: 140px;
  margin: 0 auto;
  padding-top: 10px;
}

/* Drawer*/
.drawer-panel{
  position: fixed; /* Stay in place */
  height: 100%; /* 100% Full-height */
  width: 60%; /* 0 width - change this with JavaScript */
  z-index: 1;
  left: -500px;

  top: 0;

  margin-left: -3%;
  padding-top: 5%;
  padding-bottom: 5%;


  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  border-right: 1px inset;
}


.background-drawer{
  height: 100%;
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 10;
}
