<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBftdFqqi0fAFvh8b5FOK97Kb0VgLGH6x8",
      authDomain: "temporalamidi.firebaseapp.com",
      databaseURL: "https://temporalamidi.firebaseio.com",
      projectId: "temporalamidi",
      storageBucket: "",
      messagingSenderId: "440130502576"
    };
    firebase.initializeApp(config);
  </script>


  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta charset="utf-8">
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="amidi.png">
  <link rel="manifest" href="assets/manifest.json">


  <!-- METAINFO -->
  <title>Amidi</title>
  <meta name="description" content="Plataforma para aprender cultura canaria de forma sencilla y divertida.">
  <meta name="keywords" content="cultura canaria, aprender cultura, islas canarias" />
  <meta name="robots" content="index, follow" />

  <!-- THUMB -->
  <meta property="og:image" content="amidi.png">
  <link itemprop="image" href="amidi.png">
  <meta name="thumbnail" content="amidi.png" />
  <meta property="og:image:width" content="460" />
  <meta property="og:image:height" content="460" />


  <!-- ICONS -->
  <link rel="shortcut icon" href="amidi.png">
  <link rel="icon" sizes="96x96" href="amidi.png">
  <link rel="apple-touch-startup-image" href="amidi.png">

  <!-- BROWSER COLOR -->
  <meta name="theme-color" content="#52d9e8">
  <meta name="msapplication-navbutton-color" content="#52d9e8">
  <meta name="apple-mobile-web-app-status-bar-style" content="#52d9e8">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
<div id="app"></div>
</body>
</html>
