
body{
  background-color: #52d9e8;
  color: #575756;
  font-family: Arial, Helvetica, sans-serif ;
}

.text-center{
  text-align: center;
}

.v-align{
  vertical-align: middle;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.upper {
  text-transform: uppercase;
}

/* BOTONES E ICONOS DE AMIDI */
.level-easy::before{
  content:  url('assets/buttons/easy.png');
  cursor: pointer;
}

.level-medium::before{
  content:  url('assets/buttons/medium.png');
  cursor: pointer;
}

.level-hard::before{
  content:  url('assets/buttons/hard.png');
  cursor: pointer;
}

.level-disabled::before{
  content:  url('assets/buttons/disabled.png');
  cursor: pointer;
}

.arrow-left::before{
  content:  url('assets/buttons/botones-20.png');
  display: inline-block;
  cursor: pointer;
}

.arrow-right::before{
  content:  url('assets/buttons/botones-20.png');
  display: inline-block;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  cursor: pointer;
}

.arrow-left-disabled::before{
  content:  url('assets/buttons/botones-23.png');
  display: inline-block;
  cursor: pointer;
}

.arrow-right-disabled::before{
  content:  url('assets/buttons/botones-23.png');
  display: inline-block;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  cursor: pointer;
}

.action::before{
  content: url('assets/buttons/botones-22.png');
  display: inline-block;
  background-size: 80px;
  cursor: pointer;
  width: 80px
}


@media only screen and (max-width: 767px){
  .level-disabled::before, .level-easy::before, .level-medium::before,.level-hard::before{
    width: 80px;
  }

  .action::before{
    width: 90px;
  }
}
