h4 {
  padding-bottom: 20px;
}


li{
  cursor: pointer;
  background-color: #ededed;
  margin: 20px auto;
  display: block;
  padding: 10px;
  border-radius: 20px;
  width: 35%;
  color:  #575756;
  font-weight: bold;
}

.arrow-right, .arrow-right-disabled{
  margin-top: 10%;
}


/*iPad*/
@media only screen and (max-width: 991px){
  li{
    width: 50%;
  }
}

/* Phablets */
@media only screen and (max-width: 767px){

}

/* Phones */
@media only screen and (max-width: 480px){

}

/* iPhone 5 */
@media only screen and (max-width: 380px) {
  li {
    width: 80%;
  }
}


/* Modal
 ---------------------- */

:root{
  --gray: #333;
  --gray-light: #aaa;
  --gray-lighter: #eee;
  --space: 10px;
  --blue: #428bca;
  --blue-dark: #405e9b;
}


.success{
  background-color: #d1ffc1;
  color: #38f335;
}

.fail{
  background-color: #ffcfcc;
  color: #ff483f;
}

.btn-fail{
  background: #ff483f;
}

.btn-success{
  background: #38f335;
}

.btn-class{
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 24px;
  padding: 8px 8px;
  margin: 5px;
  text-align: center;
  min-width: 98%;
  position: relative;

}

.modal-class{
   content: "";
   position: fixed;
   z-index: 10;
   top: 0; left: 0; right: 0; bottom: 0;

   display: block;
}

/* Modal Dialog
 ---------------------- */
.modal-dialog-class{
   border: var(--gray) solid 1px;
   border-radius: 5px;
   position: fixed;
   z-index: 11;

   top: 10%;
   left: 50%;
   transform: translateX(-50%) translateY(-10%);
}

.modal-body-class{
  padding: var(--space)10%;
}

.modal-footer-class{
  border-top: black solid 1px;
  text-align: right;
}
